<div class="container" id="indexscss">
  <h1>Cocktails</h1>
  <ul>
  <% @cocktails.each do |cocktail|  %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %>
      <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } do%>
          <h5><i class="fas fa-trash-alt" id="trash"></i></h5>
      <% end %>
    </li>
  <% end %>
  </ul>
  <%= link_to 'Add new Cocktail', new_cocktail_path  %>
</div>
