a.trash{
  color:white;
  opacity:0.2;
  &:hover{
    opacity:0.5;
  }
  text-shadow: 1px 1px 2px black;

}


a.link-to-text-color {
  color:white;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('cardbackground.png');
  height: 180px;
  width: 299px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity:0.8;
  & :hover {
    opacity:1;
  }


}

.card-category-new {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('cardbackground.png');
  height: 168px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.4;

  &:hover {
    opacity: 0.7;
  }
}


#plus {
  font-size: 80px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
